/GamePingPong/Debug
/GamePingPong/.vs
/GamePingPong/GamePingPong/Debug
/GamePingPong/*.opendb
/TilesMap/TilesMap/Debug
/TilesMap/Debug
/TilesMap/.vs
/Castlevania20/Castlevania20/Debug
/Castlevania20/Debug
/Castlevania20/.vs
/Castlevania20/*.opendb
/Castlevania20/*.db
/MapEditor/MapEditor/Debug
/MapEditor/.vs
/MapEditor/*.opendb
/TilesMap/TilesMap/obj/Debug
/Castlevania20/x64/Debug
/Castlevania20/Castlevania20/x64/Debug
/Castlevania20/Castlevania20/Castlevania20.vcxproj.user
/Castlevania20 - Copy/Castlevania20
/Castlevania20 - Copy
